.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
.welcome-message {
    margin: auto;
    padding: 70px 0;
    width: 50%;
    border: 3px solid crimson;
    background-color: black;
    color: #c9302c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.welcome-message:hover {
    margin: auto;
    padding: 70px 0;
    width: 50%;
    border: 3px solid crimson;
    background-color: white;
    color: #c9302c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

body {
    margin: 15% auto;
    background-color: #f0ad4e;
}