.center {

    padding: 10px;
    text-align: center;
}
.welcome-message {
    margin: auto;
    padding: 70px 0;
    width: 50%;

    background-color: white;
    box-shadow: 5px 4px 4px black;
    color: #c9302c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-radius: 12px;
}


.action-btn {
    background-color: white;
    cursor: zoom-in;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}
body {
    margin: 15% auto;
    background-color: #f0ad4e;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

.find-btn {
    background-color: firebrick;
    color: #ffffff;
    border: 0;
    box-shadow: 0 0;
}

#searchInput {
    border: 1px solid white;

    padding: 12px;
    background-color: black;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    width: 250px;
    transition: ease-in-out, width .35s ease-in-out;
    /*transition: ease, width .35s ease-in-out;*/
}

#searchInput:focus {
    width: 330px;
}