<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Social-Tracker</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>

    <body>
        <div class="welcome-message">
            <p class="lead">Welcome to Social Tracker</p>
            <a class="action-btn-home" href="/home/search">Start off</a>
        </div>

        <footer class="center">
            <p id="footer-text">
                Crafted by Ebenezer Alagbe and Gabriel Akinyosoye &copy2020
            </p>
        </footer>
    </body>
</html>
