<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %} {% for home in api %}
        <title>{{home.title}}</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'social-tracker/style.css' %}"
        />
    </head>

    <body>
        <div class="welcome-message">
            <p class="lead">Welcome to Social Tracker</p>
            <a class="action-btn-home" href="/search">Start off</a>
        </div>

        <center>
            <footer class="footer">
                <p id="footer-text">
                    Crafted by Ebenezer Alagbe and Gabriel Akinyosoye &copy2020
                </p>
            </footer>
        </center>
        {% endfor %}
    </body>
    <script>    </script>
</html>
