<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Social-Tracker</title>
        <link rel="stylesheet" href="./assets/css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="welcome-message">
            <p class="lead">Welcome to Social Tracker</p>
            <a class="action-btn-home" href="/home/search">Start off</a>
        </div>

        <footer class="center">
            <p id="footer-text">
                Crafted by Ebenezer Alagbe and Gabriel Akinyosoye &copy2020
            </p>
        </footer>
    </body>
</html>
