<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Social-Tracker</title>
        {% load static %}

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'social-tracker/style.css' %}"
        />
    </head>

    <body>
        <div class="welcome-message">
            <form action="/home/result/" method="POST" name="searchForm">
                <input
                    type="text"
                    name="findUser"
                    id="searchInput"
                    placeholder="Enter GitHub username"
                    required
                    autocapitalize="on"
                    autofocus
                />
                <input
                    id="searchBtn"
                    type="submit"
                    class="action-btn find-btn"
                    value="Find"
                />
            </form>
        </div>

        <footer class="center">
            <p id="footer-text">
                <marquee content = "100">Crafted by Ebenezer Alagbe and Gabriel Akinyosoye &copy2020</marquee>
            </p>
        </footer>
    </body>
</html>
